<%= div_for comment do %>
  <strong><%= comment.body %></strong>
<div>
  <%= comment.user.email %> said
    <%= time_ago_in_words(comment.created_at) %> ago
    <% if current_user && current_user == comment.user %>
  <%= link_to "Remove Comment", comment, method: :delete, remote: true %>
  <% end %>
</div> 
<% end %> 
