<%= form_for(@image) do |form| %>
<%= render 'error_messages', target: @image %>

  <div>
    <%= form.text_field :name, placeholder: "Name" %>
  </div>
  <div>
    <%= form.text_field :description, placeholder: "Description" %>
  </div>
  <div>
    <%= form.text_field :url, placeholder: "URL" %>
  </div>
  <div>
    <%= form_for (@image) do |form| %>
    <%=form.text_field :tag_list, placeholder: "Enter Tag" %>
    <%= form.submit "Tag Image" %>
    <% end %>
  </div>
  <div>
    <%= form.collection_check_boxes :group_ids, @groups, :id, :name %>
    <%= form.submit "Update Image" %>
  </div>
<% end %>