<%= form_for(@image) do |form| %>
<%= render 'error_messages', target: @image %>

  <div>
    Name <%= form.text_field :name, placeholder: "Name" %>
  </div>
  <div>
    Description <%= form.text_field :description, placeholder: "Description" %>
  </div>
   Tags (separate with comma) <%= form.text_field :tag_list, placeholder: "Tags" %>
  </div>
  <div>
    <%= form.text_field :url, placeholder: "URL" %>
  </div>
  <div>
    <%= form.collection_check_boxes :group_ids, @groups, :id, :name %>
  </div>
  <div>
    <%= form.submit "Update Image" %>
  </div>
<% end %>