<h2>New Image<h2>

<%= form_for [@gallery, @image] do |form| %>
<% render 'error_messages', target: @image %>
<div>
  <%= form.text_field :name, placeholder: "Name" %>
</div>
<div>
  <%= form.text_field :description, placeholder: "Description" %>
</div>
<div>
  <%= form.text_field :url, placeholder: "URL" %>
</div>
<div>
  <%= form.submit "Update image" %>
<% end %>